/* Font Family */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */


:root{
    --primary-color: #393e46;
    --secondary-color: ;
    --accent-color: #719b17;
    --dark-color: #000;
    --body-bg: #ecebebee;
}

/* Global Variables */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);

}

body {
    transition: 0.3s ease;
    background-color: var(--body-bg);
}
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}
#nav-content{
    z-index: 100;
}

#nav-content .nav-icon{
    display: none;
}
#nav-content .container{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4.5rem;
    box-shadow: 0 0 5px var(--primary-color);
    background-color: var(--body-bg);
    
}
#nav-content .container h2 a{
    margin-left: 2rem;
    font-size: 1.75rem;
    color: var(--accent-color)
}

#nav-content .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-content .container ul li a{
    text-align: center;
    padding : 10px 20px;
    border-radius: 40px;
    transition: 0.3s ease background-color;
}
#nav-content .container ul li a:hover{
    background-color: var(--accent-color);  
    color: var(--body-bg);
}

@media only screen and (max-width: 768px) {
    #nav-content .nav-icon{
        color: var(--dark-color);
        display: inline;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 100;
    }
    #nav-content .container{
        flex-direction: column;
        width: 100vw;
        font-size: 1.25rem;
        background-color: var(--body-bg);
        z-index: 1;
        transform: translateY(-100%);
        transition: 0.3s ease transform;
    }
    #nav-content .container.show{
        transform: translateY(0%);
    }
    #nav-content .container h2 a{
        margin-left: 0%;
    }
    #nav-content .container ul {
        margin-top: 1rem;
        padding: 0;
        margin-right: 0;
        flex-direction: column;

    }
    #nav-content .container ul li{
        margin: 0.5rem 0;
    }
}

#hero-section .container{
    margin: 12rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-spacing: 12rem; */
    flex-flow: flex wrap;
}
#hero-section .container .left{
    text-align: left;
    /* text-align: center; */
    margin-right: 30px;
    /* padding-right: 2rem; */
    /* overflow: hidden; */
    /* background-color: red; */

}
#hero-section .container .left h1{
    font-size: 7vw;
    color: var(--accent-color);
    /* margin-left: -14px; */
    /* margin-bottom: 0.2rem; */
    /* line-height: 5rem; */
}
#hero-section .container .left h2{
    font-size: 3vw;
    margin-left: -2px;
}
#hero-section .container .left h3{
    font-size: 2vw;
}
#hero-section .container .right img{
    max-width: 300px;
    height: 300px;
    object-fit: contain;
}

@media only screen and (max-width: 768px){
    #hero-section .container{
        flex-direction: column-reverse;
        margin: 2.5rem auto;
    }
    #hero-section .container .left{
        text-align: center;
        margin: 0 auto;
        margin: 0 0.5rem;
    }
    #hero-section .container .left h1{
        font-size: 2.75rem;
        /* padding: 0 5.5rem; */
    }
    #hero-section .container .left h2{
        font-size: 1.75rem;
    }
    #hero-section .container .left h3{
        font-size: 1.25rem;
    }
    #hero-section .container .right img{
        max-width: 300px;
        height: 300px;
        /* text-align: center; */
        /* background-color: red; */
        /* border-radius: 250px; */
        margin: 0 auto;
    }
}
