/* Font Family */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* Global Variables */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
}
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

#nav-content .container .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    z-index: 1;
}
#nav-content .container .wrapper h2{
    margin-left: 5%;
}

#nav-content ul {
    /* margin-left: 0 20%; */
    margin-right: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#nav-content ul li{
    margin: 5%;
    padding: 4% 6%;
    border-radius: 40px;
    transition: 0.3s ease background-color;
}
#nav-content ul li:hover{
    background-color: red;  
    
}

@media only screen and (max-width: 768px) {
    #nav-content .container .wrapper{
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
        font-size: 1.25rem;
    }
    #nav-content .container .wrapper h2{
        margin-left: 0%;
    }
    #nav-content ul {
        padding: 0;
        margin-right: 0%;
        flex-direction: column;
    }
    #nav-content ul li{
        margin: 10%;
    }
}